<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">

		<div class="col-sm-4">
			<figure class="second">
			  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/shield.png" style="width: 150px">
			</figure>
		</div>

		<div class="col-sm-4">
		  Address:<br />
		  Royal School of Mines<br />
		  Imperial College London<br />
		  Prince Consort Road<br />
		  London, SW7 2AZ<br />
		  UK
		</div>

		<div class="col-sm-4">
		  Contact:<br />
		  f.richards19@imperial.ac.uk <br />
		</div>


	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
