<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/"><h3 style="vertical-align:middle;display:inline-block;line-height:normal;">Fred Richards<h3></a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="{{ site.url }}{{ site.baseurl }}/"><h4 style="color:rgb(100,100,100);vertical-align:middle;display:inline-block;line-height:normal;"> Home</h4></a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/research"><h4 style="color:rgb(100,100,100);vertical-align:middle;display:inline-block;line-height:normal;">Research</h4></a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/team"><h4 style="color:rgb(100,100,100);vertical-align:middle;display:inline-block;line-height:normal;">Team</h4></a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/publications"><h4 style="color:rgb(100,100,100);vertical-align:middle;display:inline-block;line-height:normal;" >Publications</h4></a></li>
	  </ul>
	</div>
  </div>
</div>
